.ASTRoot {
  position: relative;
  display: flex;
  flex-direction: column;
}

.ASTViewer {
  position: relative;
  background: white;
  padding: 8px;

  &.scrolling {
    flex: 1 1 auto;
    overflow: auto;
  }
}

.ASTNode {
  white-space: pre;

  &.highlight {
    background: var(--highlight-color);
    text-decoration: underline;
  }

  /* Block with curlies inside an ASTNode. */
  .ASTBlock.indented {
    /* Indent blockContents. This looks right but loses spaces on copy-paste. */
    & > .blockContents {
      display: inline-block;
      vertical-align: top;
      margin-left: 1em;

      & > .whitespace.indent {
        display: none;
      }
    }
    /* end .ASTBlock */
  }

  .punctuation {
    color: var(--syntax-punctuation);
  }
  .operator {
    color: var(--syntax-operator);
  }

  .keyword,
  &.ASTNullLiteral,
  &.ASTUndefinedLiteral,
  &.ASTThisLiteral {
    color: var(--syntax-keyword);
  }

  &.ASTLineComment,
  &.ASTBlockComment {
    color: var(--syntax-comment);
  }

  &.ASTLineComment.header {
    color: var(--syntax-comment);
    font-weight: bold;
  }

  &.ASTParserAnnotation {
    color: var(--syntax-parser-annotation);
  }

  &.ASTParseError {
    color: var(--syntax-parse-error);
    font-weight: bold;
  }

  &.ASTStringLiteral,
  &.ASTQuotedExpression,
  &.ASTQuotedExpression .ASTPropertyLiteral {
    color: var(--syntax-string);
  }

  &.ASTConstantExpression {
    color: var(--syntax-enum);
  }

  &.ASTNumericLiteral {
    color: var(--syntax-number);
  }

  &.ASTBooleanLiteral {
    color: var(--syntax-number);
  }

  &.ASTTypeExpression {
    color: var(--syntax-class);
    font-weight: bold;
  }
  /* &.ASTPrototypeExpression .keyword.prototype {
    color: var(--syntax-class);
  } */

  &.ASTVariableExpression > .name {
    color: var(--syntax-variable);
  }
  &.ASTAssignmentStatement.declaration .ASTVariableExpression > .name {
    color: var(--syntax-variable-declaration);
    font-weight: bold;
  }

  &.ASTVariableExpression.argument > .name {
    color: var(--syntax-parameter);
  }

  &.ASTVariableExpression.global > .name {
    color: var(--syntax-global-variable);
  }

  &.ASTPropertyLiteral {
    color: var(--syntax-property);
  }

  &.ASTMethodDefinition > .method-name,
  &.ASTMethodInvocation > .method-name {
    color: var(--syntax-function);
  }

  /* end .ASTNode */
}
