/* File styles.css */
.Card {
	position: relative;
	height: 30px;
}

.Card .suit {
	position: relative;
	font-size: 1.5rem;
	padding-left: 1px;
	vertical-align: top;
	top: -0.15rem;
}

.Pile {
	position: relative;
	min-height: 30px;
}

.Pile.Tableau {
	min-height: 500px;
}

.Pile.stacked .Card {
	position: absolute;
	left: 0;
	top: 0;
}

.Pile.staggered .Card {
	margin-bottom: 8px !important;
}

.Pile > .Placeholder {
	position: relative;
	height: 30px;
}

.Pile > .Placeholder .suit {
	position: relative;
	font-size: 1.6rem;
}

.Pile > .Placeholder .suit.diamonds,
.Pile > .Placeholder .suit.spades {
	font-size: 1.75rem;
	top: -0.1rem;
}